body{
    background-color: #fa8073;
}

main{
    height: 100vh;
}

.container{
    background-color: #ffb7c2;
    border-radius: 8px;
    padding: 18px;
    width: 400px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea{
    resize: none;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
    
}

.counter-container{
    justify-content: space-between;
    margin-inline: 10px;
}