*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #adff2f;
}

/* 
.container{
    height: 100vh;
} */

.flex{
    display: flex;
    flex-direction: column;
}

.input-field{
    margin-inline: auto;
    margin-top: 192px;
    font-size: 20px;
    color: #000000;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
    width: 400px;
    font-family: cursive;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo{
    margin-inline: auto;
    background-color: yellow;
    width: 400px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px dotted grey;
    font-size: 16px;
    font-family: cursive;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo{
    display: flex;
    justify-content: space-between;
}

span .fa-trash{
    margin-left: 8px;
}


.fa-trash{
    cursor: pointer;
}

.fa-square-check{
    cursor: pointer;
}